div.nav-container-rustdoc {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

div.nav-container {
    height: 32px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

div.nav-container ul {
    max-height: 32px;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.nav-container ul li {
    display: inline-block;
    padding: 4px 1em 0 1em;
    height: 32px;
}

div.nav-container ul li.current {
    background-color: #F1F1F1;
}

.sidebar {
    margin-top: 30px;
}

div.container-rustdoc {
    max-width: 1200px;
    text-align: left;
}

div.rustdoc {
    font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", serif;
    padding: 10px 15px 20px 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 32px;
}

/* Proper styling and spacing for the version note.  */
div.sq-header { color: #000; background-color: mistyrose; }
.sq-header p { margin: 3px; }
.sq-header a { color: #4d76ae; text-decoration: none; }
.sq-header a:hover{ color: #4d76ae; text-decoration: underline; }

/* Fix source view.  */
div.container-rustdoc #main div.example-wrap {
    padding-top: 16px;
    width: 90%;
}

/* Move the arrow down a little.  */
div.container-rustdoc #main #sidebar-toggle {
    top: 60px;
}
